@import '../../variables.less';

.articlePage {
  padding: 0 16px 16px 16px;
  width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.title h1 {
  margin-right: 8px;
  font-family: @titleFontFamily;
  font-size: @titleFontSize;
  line-height: 1em;
}

.title a {
  font-weight: 300;
  color: @secondaryTextColor;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
