@import '../../variables.less';

.articleBody {
  margin-top: 8px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title h1 {
  flex: 1;
  margin-right: 8px;
  font-family: @titleFontFamily;
  font-size: @titleFontSize;
  line-height: 1em;
}

.title button {
  margin-left: 8px;
}

.titlePlaceholder {
  width: 60%;
  height: @titleFontSize;
  background-color: lighten(@textColor, 50%);
}

.datePlaceholder {
  width: 20%;
  height: @dateFontSize;
  background-color: lighten(@secondaryTextColor, 50%);
  margin-top: 2px;
  margin-bottom: 16px;
}

.bodyPlaceholderA {
  margin-bottom: 2px;
  height: 16px;
  width: 80%;
  background-color: lighten(@textColor, 50%);
}

.bodyPlaceholderB {
  margin-bottom: 16px;
  height: 16px;
  width: 40%;
  background-color: lighten(@textColor, 80%);
}
