@import '../../variables.less';

.article {
  margin-bottom: 2rem;

  h1 {
    line-height: @titleFontSize;
    font-size: @titleFontSize;

    a {
      font-family: @titleFontFamily;
      font-weight: bold;
      color: @textColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .outline {
    margin: 0.5rem 0;
  }
}
