@import '../../variables.less';

.root {
  width: 100%;
  box-sizing: border-box;
}

.code {
  background-color: @codeBackgroundColor;
  color: @codeMainColor;
  font-family: @codeFontFamily;
  padding: 0 2px;
  border-radius: 3px;
}

.paragraph {
  line-height: 1.2em;
}
