.editArticlePage {
  flex: 1;
  padding: 0 16px 16px 16px;
  display: flex;
}

.articleForm {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.bodyGroup {
  flex: 1;
}

.bodyText {
  flex: 1;
}

.articleBody {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.articleBody > div {
  flex: 1;
  display: flex;
}
