@import '../../variables.less';

.articleForm {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  input,
  textarea {
    font-size: 16px;
    color: @textColor;
  }

  .articleTitle {
    font-family: @titleFontFamily;
    font-size: @titleFontSize;
    font-weight: bold;
  }
}

.bodyGroup {
  flex: 1;
}

.bodyText {
  flex: 1;
}

.articleBody {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.articleBody > div {
  flex: 1;
  display: flex;
}

.bodyPreview {
  margin: 0 16px;
}
